html, body {
  height: 100%;
  width: 100%;
  background-color:#4d004d;
}

button {
  border: none;
  height: 60px;
  width: 68px;
}

.calculator {
  width: 300px;
  height: 380px;
  text-align: center;
  margin: auto;
  background-color: #800080;
  padding: 8px;
}

#textbox {
  font-family: 'Sarpanch', sans-serif;
  height: 40px;
  width: 275px;
  border: none;
  margin-top: 5px;
  margin-bottom: 12px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #669900;
  text-align: right;
  font-size: 2.5em;
}

.buttons {
  width: 275;
  text-align: center;
  margin: 8px auto:
}

.button {
  background-color: #b300b3;
  cursor: pointer;
  Margin-bottom: 5px;
  font-size: 2em;
}
button:focus {
  outline:0;
}
.active {
  border: solid black 2px;
}